/.idea
/.env
/.env.example
/logs/*.log
/siraldock/mysql/data
/siraldock/nginx/logs/*.log
/reportes/Listado_Almuerzos/*
/reportes/Listado_Comidas/*
/reportes/Reportes_Mensuales/*
/reportes/Reportes_Semanal_Ventas/*
/reportes/Reportes_Ventas/*
*.log
/.vscode
/vendor/squizlabs/*
/vendor/bin/phpcbf
/vendor/bin/phpcbf.bat
/vendor/bin/phpcs.bat
/vendor/bin/phpcs
